@media (min-width: 1200px) {
    .container {
        width:970px !important;
    }
}

.col-xs-12 .col-sm-8 .col-md-9 .col-print-12 .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 7px;
}